* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  body {
    background-color: #ffffff;
  }
  
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  }
  
  /*NAVEGAÇÃO=============================================================*/
  
  .navigation {
    display: flex;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.301);
  
    width: 100%;
    height: 4em;
  
    background: #6c63ac;
  
    border-radius: 0px 0px 50px 50px;
  }
  
  /*LOGO=============================================================*/
  .logo {
    display: flex;
    justify-content: center;
  
    color: aliceblue;
  
    margin-top: 0.6em;
  }
  
  .logo h4 {
    margin-top: 0.3em;
    margin-left: 3em;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 100;
  }
  
  /*SELECTLIST=============================================================*/
  
  #portoSelect {
    margin-top: 0.8em;
    margin-right: 6.4em;
    width: 180px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: all 0.5s ease;
    font-size: 19px;
    color: #776bcc;
    height: 50%;
    text-align: center;
  }
  #portoSelect .select {
    cursor: pointer;
    display: block;
    padding: 10px;
  }
  
  #portoSelect.active:hover,
  #portoSelect.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8;
  }
  #portoSelect.active .select > i {
    transform: rotate(-90deg);
  }
  #portoSelect .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9;
  }
  
  /*SELECTLIST END=============================================================*/
  
  /*cards=============================================================*/
  
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  
    width: 100%;
    height: 15em;
  }
  
  .cards .title {
    position: relative;
    text-align: center;
    font-size: 14px;
    background-color: rgb(46, 88, 202);
    border-radius: 0px 0px 6px 6px;
  
    color: white;
    height: 2.5em;
    padding: 3% 0px 1% 0px;
  }
  
  .cards .information {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  
  .information .icon img {
    width: 70px;
    height: auto;
  }
  
  .result {
    width: 100%;
    height: auto;
    margin-top: 11px;
  }
  
  .information h3 {
    font-size: 1.8em;
    text-align: center;
  }
  
  .information p {
    color: #2c2c2ca4;
    font-size: 0.8em;
  }
  
  .card_1,
  .card_2,
  .card_3,
  .card_4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    background-color: white;
  
    margin: 0px 20px 0px 20px;
  
    width: 15em;
    height: 7em;
  
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.144);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(46, 88, 202);
    color: rgb(46, 88, 202);
    border-radius: 10px;
  }
  /*Card 2 ==================================================*/
  .card_2 {
    border-color: rgb(46, 202, 59);
    color: rgb(46, 202, 59);
  }
  
  .card_2 .title {
    background-color: rgb(46, 202, 59);
  }
  
  .card_2 .icon img {
    width: 50px;
    height: auto;
    margin: 10px;
  }
  /*Card 3 ==================================================*/
  .card_3 {
    border-color: rgb(202, 153, 46);
    color: rgb(202, 153, 46);
  }
  
  .card_3 .title {
    background-color: rgb(202, 153, 46);
  }
  
  .card_3 .icon img {
    width: 50px;
    height: auto;
    margin: 10px;
  }
  /*Card 4 ==================================================*/
  .card_4 {
    border-color: rgb(202, 46, 46);
    color: rgb(202, 46, 46);
  }
  
  .card_4 .title {
    background-color: rgb(202, 46, 46);
  }
  
  .card_4 .icon img {
    width: 50px;
    height: auto;
    margin: 10px;
  }
  
  .input_table {
    display: flex;
    margin-left: 8em;
    height: auto;
  }
  
  .input_table input {
    width: 10em;
    height: 1.5em;
    margin-right: 0;
    font-size: 17px;
  }
  
  .input_table button {
    background-color: #776bcc;
    border: 1px solid rgba(0, 0, 0, 0.432);
    margin-left: -10px;
    border-radius: 0px 10px 10px 0px;
    color: white;
    padding: 0px 13px 0px 13px;
  }
  
  /*===============================================================*/
  
  /* table=========================================================*/
  
  .table {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .content-table {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.377);
  
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 76em;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #776bcc;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #776bcc;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #776bcc;
  }
  
  /*==================================================================*/
  