* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    
    font-family: sans-serif;

  }
  
  body {
    background-color: #fff;
    overflow-x: hidden;
  }
  
  article,
  aside,
  details,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-decoration: none;
  }
  
  img {
    border: none;
  }
  
  *:focus {
    outline: none;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .bg-illustration {
    position: relative;
    height: 100vh;
    width: 1194px;
    background: url("") no-repeat center center scroll;
    background-size: cover;
    float: left;
    -webkit-animation: bgslide 2.3s forwards;
            animation: bgslide 2.3s forwards;
  }
  .bg-illustration img {
    width: 248px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    height: auto;
    margin: 19px 0 0 25px;
  }
  
  @-webkit-keyframes bgslide {
    from {
      left: -100%;
      width: 0;
      opacity: 0;
    }
    to {
      left: 0;
      width: 1194px;
      opacity: 1;
    }
  }
  
  @keyframes bgslide {
    from {
      left: -100%;
      width: 0;
      opacity: 0;
    }
    to {
      left: 0;
      width: 1194px;
      opacity: 1;
    }
  }
  
  
  .login {
    max-height: 100vh;
    overflow-Y: auto;
    float: left;
    margin: 0 auto;
    width: calc(100% - 1194px);
  }
  .login .container {
    width: 505px;
    margin: 0 auto;
    position: relative;
  }
  .login .container h1 {
    margin-top: 150px;
    font-size: 35px;
    font-weight: bolder;
  }
  .login .container .login-form {
    margin-top: 12px;
  }
  .login .container .login-form form {
    display: -ms-grid;
    display: grid;
  }
  .login .container .login-form form input {
    font-size: 16px;
    font-weight: normal;
    background: rgba(57, 57, 57, 0.07);
    margin: 12.5px 0;
    height: 68px;
    border: none;
    padding: 0 30px;
    border-radius: 10px;
  }
  .login .container .login-form form button[type=submit] {
    background: -webkit-linear-gradient(110deg, #949ef7 0%, #bdc9fd 100%);
    background: -o-linear-gradient(110deg, #94a3f7 0%, #bddbfd 100%);
    background: linear-gradient(-20deg, #9496f7 0%, #bdc3fd 100%);
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 241px;
    height: 58px;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 20px;
  }
  .login .container .login-form form button[type=submit]:hover::after {
    opacity: 1;
  }
  .login .container .login-form form button[type=submit]::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#0c7ed6));
    background: -webkit-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background: -o-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
  }
  .login .container .remember-form {
    position: relative;
    margin-top: -30px;
  }
  .login .container .remember-form input[type=checkbox] {
    margin-top: 9px;
  }
  .login .container .remember-form span {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 32px;
    color: #3B3B3B;
    margin-left: 15px;
  }
  .login .container .forget-pass {
    position: absolute;
    right: 0;
    margin-top: 189px;
  }
  .login .container .forget-pass a {
    font-size: 16px;
    position: relative;
    font-weight: normal;
    color: #918F8F;
  }
  .login .container .forget-pass a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100px;
    background: -webkit-linear-gradient(110deg, #949ef7 0%, #bdc9fd 100%);
    background: -o-linear-gradient(110deg, #94a3f7 0%, #bddbfd 100%);
    background: linear-gradient(-20deg, #9496f7 0%, #bdc3fd 100%);
    bottom: -4px;
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    right: 0;
  }
  .login .container .forget-pass a:hover::after {
    opacity: 1;
  }
  
  @media only screen and (min-width: 1024px) and (max-width: 1680px) {
    .bg-illustration {
      width: 50%;
      -webkit-animation: none;
              animation: none;
    }
  
    .login {
      width: 50%;
    }
  }
  /* Display 12", iPad PRO Portrait, iPad landscape */
  @media only screen and (max-width: 1024px) {
    body {
      overflow-x: hidden;
    }
  
    @-webkit-keyframes slideIn {
      from {
        left: -100%;
        opacity: 0;
      }
      to {
        left: 0;
        opacity: 1;
      }
    }
  
    @keyframes slideIn {
      from {
        left: -100%;
        opacity: 0;
      }
      to {
        left: 0;
        opacity: 1;
      }
    }
    .bg-illustration {
      float: none;
      background: url("https://i.ibb.co/rwncw7s/bg-mobile.png") center center;
      background-size: cover;
      -webkit-animation: slideIn 0.8s ease-in-out forwards;
              animation: slideIn 0.8s ease-in-out forwards;
      width: 100%;
      height: 190px;
      text-align: center;
    }
    .bg-illustration img {
      width: 100px;
      height: auto;
      margin: 20px auto !important;
      text-align: center;
    }
    .bg-illustration .burger-btn {
      left: 33px;
      top: 29px;
      display: block;
      position: absolute;
    }
    .bg-illustration .burger-btn span {
      display: block;
      height: 4px;
      margin: 6px;
      background-color: #fff;
    }
    .bg-illustration .burger-btn span:nth-child(1) {
      width: 37px;
    }
    .bg-illustration .burger-btn span:nth-child(2) {
      width: 28px;
    }
    .bg-illustration .burger-btn span:nth-child(3) {
      width: 20px;
    }
  
    .login {
      float: none;
      margin: 0 auto;
      width: 100%;
    }
    .login .container {
      -webkit-animation: slideIn 0.8s ease-in-out forwards;
              animation: slideIn 0.8s ease-in-out forwards;
      width: 85%;
      float: none;
    }
    .login .container h1 {
      font-size: 25px;
      margin-top: 40px;
    }
    .login .container .login-form {
      margin-top: 90px;
    }
    .login .container .login-form form input {
      height: 45px;
    }
    .login .container .login-form form button[type=submit] {
      height: 45px;
      margin-top: 100px;
    }
    .login .container .login-form .remember-form {
      position: relative;
      margin-top: -14px;
    }
    .login .container .login-form .remember-form span {
      font-size: 16px;
      margin-top: 22px;
      top: inherit;
    }
  
    .forget-pass {
      position: absolute;
      right: inherit;
      left: 0;
      bottom: -40px;
      margin: 0 !important;
    }
    .forget-pass a {
      font-size: 16px;
      position: relative;
      font-weight: normal;
      color: #918F8F;
    }
    .forget-pass a::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      border-radius: 100px;
      background: -webkit-linear-gradient(110deg, #949ef7 0%, #bdc9fd 100%);
      background: -o-linear-gradient(110deg, #94a3f7 0%, #bddbfd 100%);
      background: linear-gradient(-20deg, #9496f7 0%, #bdc3fd 100%);
      bottom: -4px;
      left: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      opacity: 0;
      right: 0;
    }
    .forget-pass a:hover::after {
      opacity: 1;
    }
  }


 

















  @import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
